* {
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: row;
}

.navbar {
    height: 100vh;
    width: 300px;
    background-color: #8977AD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.logo {
    width: 210px;
    height: 140px;
    margin: auto;
}

.weather {
    width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 23px;
}


.weather p {
    margin-bottom: 0;
}

.contents {
    width: calc(100% - 300px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #ffffff;
    position: absolute;
    left: 300px;
}

.list {
    width: 80%;
}

.top50 {
    margin-top: 70px;
    margin-bottom: 50px;
    font-weight: bolder;
}

.fa-regular fa-heart {
    width: 30px;
}

.album {
    width: 60px;
}

button {
    background-color: transparent;
    border: 0;
}

.heart {
    font-size: 25px;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    text-decoration: none;
}

.music:hover {
    cursor: pointer;
    background-color: #d3cbde;
    transition: background-color 0.8s;
}


